src/Node-Red/flows.json
[
    {
        "id": "4b2a7567.d6675c",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c0816d6e.08165",
        "type": "inject",
        "z": "4b2a7567.d6675c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 590,
        "y": 420,
        "wires": [
            [
                "31415544.53fcca"
            ]
        ]
    },
    {
        "id": "e1d02705.3ed538",
        "type": "file",
        "z": "4b2a7567.d6675c",
        "name": "",
        "filename": "/home/pi/Desktop/python/lights/lightIntensity.txt",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 2160,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "a219e568.1e46c8",
        "type": "function",
        "z": "4b2a7567.d6675c",
        "name": "",
        "func": "const num = (msg.payload).toString().split(\"\\n\");\nmsg.payload = num[0];\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1220,
        "y": 520,
        "wires": [
            [
                "68dcbe0.de92644",
                "db51702.df4419"
            ]
        ]
    },
    {
        "id": "31415544.53fcca",
        "type": "file in",
        "z": "4b2a7567.d6675c",
        "name": "",
        "filename": "/home/pi/Desktop/python/lights/lightIntensity.txt",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 880,
        "y": 420,
        "wires": [
            [
                "a219e568.1e46c8",
                "afe7917b.6bb5a",
                "91b057b4.d05fb8",
                "2f462e9e.e69322",
                "60e929c5.b3d208"
            ]
        ]
    },
    {
        "id": "afe7917b.6bb5a",
        "type": "function",
        "z": "4b2a7567.d6675c",
        "name": "",
        "func": "const num = (msg.payload).toString().split(\"\\n\");\nmsg.payload = num[1];\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1220,
        "y": 620,
        "wires": [
            [
                "299cee78.19cdb2",
                "9951ab1.6519458"
            ]
        ]
    },
    {
        "id": "91b057b4.d05fb8",
        "type": "function",
        "z": "4b2a7567.d6675c",
        "name": "",
        "func": "const num = (msg.payload).toString().split(\"\\n\");\nmsg.payload = num[2];\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1220,
        "y": 720,
        "wires": [
            [
                "2c70810d.c8028e",
                "fabcb75f.1eb7e8"
            ]
        ]
    },
    {
        "id": "2f462e9e.e69322",
        "type": "function",
        "z": "4b2a7567.d6675c",
        "name": "",
        "func": "const num = (msg.payload).toString().split(\"\\n\");\nmsg.payload = num[3];\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1220,
        "y": 820,
        "wires": [
            [
                "6a2350e0.34576",
                "b025be86.68afc"
            ]
        ]
    },
    {
        "id": "5087fe94.e726f",
        "type": "function",
        "z": "4b2a7567.d6675c",
        "name": "",
        "func": "msg.ch = 1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1620,
        "y": 520,
        "wires": [
            [
                "ac4ee649.b74dc8"
            ]
        ]
    },
    {
        "id": "38a1c281.defbbe",
        "type": "function",
        "z": "4b2a7567.d6675c",
        "name": "",
        "func": "msg.ch = 2;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1620,
        "y": 620,
        "wires": [
            [
                "ac4ee649.b74dc8"
            ]
        ]
    },
    {
        "id": "f64129b0.4cb218",
        "type": "function",
        "z": "4b2a7567.d6675c",
        "name": "",
        "func": "msg.ch = 3;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1620,
        "y": 720,
        "wires": [
            [
                "ac4ee649.b74dc8"
            ]
        ]
    },
    {
        "id": "4b34c10c.5d662",
        "type": "function",
        "z": "4b2a7567.d6675c",
        "name": "",
        "func": "msg.ch = 4;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1620,
        "y": 820,
        "wires": [
            [
                "ac4ee649.b74dc8"
            ]
        ]
    },
    {
        "id": "ac4ee649.b74dc8",
        "type": "function",
        "z": "4b2a7567.d6675c",
        "name": "",
        "func": "if (msg.ch == 0) {\n    powerLevel = (msg.payload).toString().split(\"\\n\");\n} else {\n    powerLevel[msg.ch - 1] = msg.payload;\n    msg.payload = powerLevel.join(\"\\n\");\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is deployed.\nlet powerLevel = [0, 0, 0, 0];",
        "finalize": "",
        "x": 1860,
        "y": 420,
        "wires": [
            [
                "e1d02705.3ed538"
            ]
        ]
    },
    {
        "id": "60e929c5.b3d208",
        "type": "function",
        "z": "4b2a7567.d6675c",
        "name": "",
        "func": "msg.ch = 0;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1620,
        "y": 420,
        "wires": [
            [
                "ac4ee649.b74dc8"
            ]
        ]
    },
    {
        "id": "68dcbe0.de92644",
        "type": "ui_slider",
        "z": "4b2a7567.d6675c",
        "name": "",
        "label": "Ch. 1",
        "tooltip": "",
        "group": "7e07881c.c911b8",
        "order": 2,
        "width": "0",
        "height": "0",
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "1000",
        "step": 1,
        "x": 1370,
        "y": 520,
        "wires": [
            [
                "5087fe94.e726f",
                "f38bbda4.09c73"
            ]
        ]
    },
    {
        "id": "299cee78.19cdb2",
        "type": "ui_slider",
        "z": "4b2a7567.d6675c",
        "name": "",
        "label": "Ch. 2",
        "tooltip": "",
        "group": "b71ef755.ad0018",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "1000",
        "step": 1,
        "x": 1370,
        "y": 620,
        "wires": [
            [
                "38a1c281.defbbe",
                "c8b3a3a4.edba9"
            ]
        ]
    },
    {
        "id": "2c70810d.c8028e",
        "type": "ui_slider",
        "z": "4b2a7567.d6675c",
        "name": "",
        "label": "Ch. 3",
        "tooltip": "",
        "group": "17bbdf22.352211",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "1000",
        "step": 1,
        "x": 1370,
        "y": 720,
        "wires": [
            [
                "f64129b0.4cb218",
                "c60d2bec.7dfab8"
            ]
        ]
    },
    {
        "id": "6a2350e0.34576",
        "type": "ui_slider",
        "z": "4b2a7567.d6675c",
        "name": "",
        "label": "Ch. 4",
        "tooltip": "",
        "group": "bd746d59.87e0e",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "1000",
        "step": 1,
        "x": 1370,
        "y": 820,
        "wires": [
            [
                "4b34c10c.5d662",
                "93d3973b.465c98"
            ]
        ]
    },
    {
        "id": "f38bbda4.09c73",
        "type": "ui_gauge",
        "z": "4b2a7567.d6675c",
        "name": "",
        "group": "7e07881c.c911b8",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Power Level 1",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1600,
        "y": 480,
        "wires": []
    },
    {
        "id": "c8b3a3a4.edba9",
        "type": "ui_gauge",
        "z": "4b2a7567.d6675c",
        "name": "",
        "group": "b71ef755.ad0018",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Power Level 2",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1600,
        "y": 580,
        "wires": []
    },
    {
        "id": "c60d2bec.7dfab8",
        "type": "ui_gauge",
        "z": "4b2a7567.d6675c",
        "name": "",
        "group": "17bbdf22.352211",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Power Level 3",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1600,
        "y": 680,
        "wires": []
    },
    {
        "id": "93d3973b.465c98",
        "type": "ui_gauge",
        "z": "4b2a7567.d6675c",
        "name": "",
        "group": "bd746d59.87e0e",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Power Level 4",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1600,
        "y": 780,
        "wires": []
    },
    {
        "id": "db51702.df4419",
        "type": "ui_chart",
        "z": "4b2a7567.d6675c",
        "name": "",
        "group": "7e07881c.c911b8",
        "order": 2,
        "width": "0",
        "height": "0",
        "label": "Power Level history",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1000",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1350,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "9951ab1.6519458",
        "type": "ui_chart",
        "z": "4b2a7567.d6675c",
        "name": "",
        "group": "b71ef755.ad0018",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Power Level history",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1000",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1350,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "fabcb75f.1eb7e8",
        "type": "ui_chart",
        "z": "4b2a7567.d6675c",
        "name": "",
        "group": "17bbdf22.352211",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Power Level history",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1000",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1350,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "b025be86.68afc",
        "type": "ui_chart",
        "z": "4b2a7567.d6675c",
        "name": "",
        "group": "bd746d59.87e0e",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Power Level history",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1000",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1350,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "7e07881c.c911b8",
        "type": "ui_group",
        "name": "Channel 1",
        "tab": "867f37a4.9c8b38",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b71ef755.ad0018",
        "type": "ui_group",
        "name": "Channel 2",
        "tab": "867f37a4.9c8b38",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "17bbdf22.352211",
        "type": "ui_group",
        "name": "Channel 3",
        "tab": "867f37a4.9c8b38",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "bd746d59.87e0e",
        "type": "ui_group",
        "name": "Channel 4",
        "tab": "867f37a4.9c8b38",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "867f37a4.9c8b38",
        "type": "ui_tab",
        "name": "Lighting Control",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]