src/Node-Red/flows 100.json
[{"id":"5136d19.510ee3","type":"tab","label":"Flow 100","disabled":false,"info":""},{"id":"edaedc87.f5352","type":"inject","z":"5136d19.510ee3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":590,"y":420,"wires":[["a01afc8c.fdd6c"]]},{"id":"3089df62.cc1be","type":"file","z":"5136d19.510ee3","name":"","filename":"/home/pi/Desktop/python/lights/lightIntensity.txt","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"utf8","x":2160,"y":420,"wires":[[]]},{"id":"d6dda818.1ead28","type":"function","z":"5136d19.510ee3","name":"","func":"const num = (msg.payload).toString().split(\"\\n\");\nmsg.payload = num[0];\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1220,"y":520,"wires":[["c27d339a.afe67","a87d0f57.238a8"]]},{"id":"a01afc8c.fdd6c","type":"file in","z":"5136d19.510ee3","name":"","filename":"/home/pi/Desktop/python/lights/lightIntensity.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":880,"y":420,"wires":[["d6dda818.1ead28","88e8f9fc.d64358","3812ea22.89e326","81149064.5ca3","e118b3e4.d216d"]]},{"id":"88e8f9fc.d64358","type":"function","z":"5136d19.510ee3","name":"","func":"const num = (msg.payload).toString().split(\"\\n\");\nmsg.payload = num[1];\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1220,"y":620,"wires":[["7ebe6ebc.39401","cf570ac9.0db8a8"]]},{"id":"3812ea22.89e326","type":"function","z":"5136d19.510ee3","name":"","func":"const num = (msg.payload).toString().split(\"\\n\");\nmsg.payload = num[2];\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1220,"y":720,"wires":[["4cea97e1.063ed8","c4a11d47.51b5d"]]},{"id":"81149064.5ca3","type":"function","z":"5136d19.510ee3","name":"","func":"const num = (msg.payload).toString().split(\"\\n\");\nmsg.payload = num[3];\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1220,"y":820,"wires":[["d48241cd.d8c11","11100c36.bb2cd4"]]},{"id":"8575ac79.619f8","type":"function","z":"5136d19.510ee3","name":"","func":"msg.ch = 1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1620,"y":520,"wires":[["ee5cb631.94eaa8"]]},{"id":"33ed186f.e45fa8","type":"function","z":"5136d19.510ee3","name":"","func":"msg.ch = 2;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1620,"y":620,"wires":[["ee5cb631.94eaa8"]]},{"id":"b80f57b.24b35a8","type":"function","z":"5136d19.510ee3","name":"","func":"msg.ch = 3;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1620,"y":720,"wires":[["ee5cb631.94eaa8"]]},{"id":"fd1d9b8a.e3b7b8","type":"function","z":"5136d19.510ee3","name":"","func":"msg.ch = 4;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1620,"y":820,"wires":[["ee5cb631.94eaa8"]]},{"id":"ee5cb631.94eaa8","type":"function","z":"5136d19.510ee3","name":"","func":"if (msg.ch == 0) {\n    powerLevel = (msg.payload).toString().split(\"\\n\");\n} else {\n    powerLevel[msg.ch - 1] = msg.payload;\n    msg.payload = powerLevel.join(\"\\n\");\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nlet powerLevel = [0, 0, 0, 0];","finalize":"","x":1860,"y":420,"wires":[["3089df62.cc1be","7c052fdf.56187"]]},{"id":"e118b3e4.d216d","type":"function","z":"5136d19.510ee3","name":"","func":"msg.ch = 0;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1620,"y":420,"wires":[["ee5cb631.94eaa8"]]},{"id":"827c64b0.17c198","type":"serial out","z":"5136d19.510ee3","name":"","serial":"e8c17314.b70d6","x":2270,"y":500,"wires":[]},{"id":"7c052fdf.56187","type":"function","z":"5136d19.510ee3","name":"","func":"msg.payload = (msg.payload).toString().split(\"\\n\");\nfor (let i = 0; i < 4; ++i) {\n    msg.payload[i] = parseInt(msg.payload[i]);\n}\n\nreturn msg\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nconst powerLevels = [0, 0, 0, 0];","finalize":"","x":2060,"y":500,"wires":[["994c94ce.d1f498","827c64b0.17c198"]]},{"id":"994c94ce.d1f498","type":"debug","z":"5136d19.510ee3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2270,"y":560,"wires":[]},{"id":"c27d339a.afe67","type":"ui_slider","z":"5136d19.510ee3","name":"","label":"Ch. 1","tooltip":"","group":"7e07881c.c911b8","order":2,"width":"0","height":"0","passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":"1","max":"100","step":1,"x":1370,"y":520,"wires":[["8575ac79.619f8","88dbec21.de102"]]},{"id":"7ebe6ebc.39401","type":"ui_slider","z":"5136d19.510ee3","name":"","label":"Ch. 2","tooltip":"","group":"b71ef755.ad0018","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":"1","max":"100","step":1,"x":1370,"y":620,"wires":[["33ed186f.e45fa8","f9be114b.d5674"]]},{"id":"4cea97e1.063ed8","type":"ui_slider","z":"5136d19.510ee3","name":"","label":"Ch. 3","tooltip":"","group":"17bbdf22.352211","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":"1","max":"100","step":1,"x":1370,"y":720,"wires":[["b80f57b.24b35a8","5fdae3.73de251c"]]},{"id":"d48241cd.d8c11","type":"ui_slider","z":"5136d19.510ee3","name":"","label":"Ch. 4","tooltip":"","group":"bd746d59.87e0e","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":"1","max":"100","step":1,"x":1370,"y":820,"wires":[["fd1d9b8a.e3b7b8","344d7f6.477c78"]]},{"id":"88dbec21.de102","type":"ui_gauge","z":"5136d19.510ee3","name":"","group":"7e07881c.c911b8","order":1,"width":0,"height":0,"gtype":"gage","title":"Power Level 1","label":"units","format":"{{value}}","min":"1","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1600,"y":480,"wires":[]},{"id":"f9be114b.d5674","type":"ui_gauge","z":"5136d19.510ee3","name":"","group":"b71ef755.ad0018","order":1,"width":0,"height":0,"gtype":"gage","title":"Power Level 2","label":"units","format":"{{value}}","min":"1","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1600,"y":580,"wires":[]},{"id":"5fdae3.73de251c","type":"ui_gauge","z":"5136d19.510ee3","name":"","group":"17bbdf22.352211","order":1,"width":0,"height":0,"gtype":"gage","title":"Power Level 3","label":"units","format":"{{value}}","min":"1","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1600,"y":680,"wires":[]},{"id":"344d7f6.477c78","type":"ui_gauge","z":"5136d19.510ee3","name":"","group":"bd746d59.87e0e","order":1,"width":0,"height":0,"gtype":"gage","title":"Power Level 4","label":"units","format":"{{value}}","min":"1","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1600,"y":780,"wires":[]},{"id":"a87d0f57.238a8","type":"ui_chart","z":"5136d19.510ee3","name":"","group":"7e07881c.c911b8","order":2,"width":"0","height":"0","label":"Power Level history","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"1","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1350,"y":480,"wires":[[]]},{"id":"cf570ac9.0db8a8","type":"ui_chart","z":"5136d19.510ee3","name":"","group":"b71ef755.ad0018","order":2,"width":0,"height":0,"label":"Power Level history","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"1","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1350,"y":580,"wires":[[]]},{"id":"c4a11d47.51b5d","type":"ui_chart","z":"5136d19.510ee3","name":"","group":"17bbdf22.352211","order":2,"width":0,"height":0,"label":"Power Level history","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"1","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1350,"y":680,"wires":[[]]},{"id":"11100c36.bb2cd4","type":"ui_chart","z":"5136d19.510ee3","name":"","group":"bd746d59.87e0e","order":2,"width":0,"height":0,"label":"Power Level history","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"1","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1350,"y":780,"wires":[[]]},{"id":"e8c17314.b70d6","type":"serial-port","serialport":"/dev/ttyUSB0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"7e07881c.c911b8","type":"ui_group","name":"Channel 1","tab":"867f37a4.9c8b38","order":1,"disp":true,"width":"6","collapse":false},{"id":"b71ef755.ad0018","type":"ui_group","name":"Channel 2","tab":"867f37a4.9c8b38","order":2,"disp":true,"width":"6","collapse":false},{"id":"17bbdf22.352211","type":"ui_group","name":"Channel 3","tab":"867f37a4.9c8b38","order":3,"disp":true,"width":"6","collapse":false},{"id":"bd746d59.87e0e","type":"ui_group","name":"Channel 4","tab":"867f37a4.9c8b38","order":4,"disp":true,"width":"6","collapse":false},{"id":"867f37a4.9c8b38","type":"ui_tab","name":"Lighting Control","icon":"dashboard","disabled":false,"hidden":false}]